.container-user {
    width: 70%;
    background-color: #8A2BE2;
    margin: 30px auto;
    border: solid #4B0082;
    border-radius: 0.6rem;
    color: white;
}

.container-user h3 {
    text-align: center;
}

.pont-trof {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rank {
    text-align: center;
}